body{
	padding-top:70px;
	font-family: source sans pro;
}

.jumbotron{
	color:#2c3e50;
}

.navbar-inverse{
	background:#2c3e50;
	color:white;
	font-size: 18px;
}

/*a{
	color:#bcc8c2;
}*/
.navbar-inverse .navbar-brand {
    color: white;
}